*{
    padding: 0;margin: 0;box-sizing: border-box;    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    overflow-x: hidden !important;
}
main{
   
    >section{
        >div{
            width: 100%;
            height: 100vh;
            border:1px gray solid;
            overflow-x: hidden !important;
        }
        >div:nth-of-type(2){                       
            position: relative;
            height: 1000vh !important; 
            overflow-x: hidden !important;
            >ul{
                position: relative;
                list-style: none;
                background-color: pink;
                width: 700%;
                height: 100vh;
                display: flex;                             
                align-items: center;
                justify-content: space-evenly;                         
                >li{
                    width: 200px;
                    height: 200px;                    
                    background-color: #800080;                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;  
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 50px;  
                    
                  
                     
                }
            }
        }
    }
  
}

